* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100svh;
    padding: 2rem;
}
.header {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.videorecorder-div {
    width: 100%;
    height: 90%;
    display: flex;
}
.videocam-div {
    width: 60%;
    height: 100%;
}
.webcam-div {
    width: 100%;
    height: 90%;
}
#videocam {
    width: 100%;
    height: 100%;
}
.cam-controls {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cam-controls button {
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.cam-controls button:hover {
    opacity: 0.8;
}
#v-start {
    width: 8rem;
    height: 2.5rem;
    background-color: rgb(25, 167, 0);
}
#v-stop {
    width: 8rem;
    height: 2.5rem;
    background-color: rgb(183, 0, 0);
}
#v-rotate {
    width: 4rem;
    height: 2.5rem;
    background-color: rgb(130, 130, 130);
}
#record {
    width: 8rem;
    height: 2.5rem;
    background-color: rgb(0, 0, 190);
}
.recording-list {
    width: 40%;
    height: 100%;
    padding: 2rem;
}
.list-header {
    width: 100%;
    height: 10%;
    font-size: 25px;
    font-weight: 650;
}
.recordlist {
    width: 100%;
    height: 90%;
    overflow: auto;
    padding: 1rem 0.5rem;
}
.recordlist::-webkit-scrollbar {
    display: none;
}
.recorded {
    width: 100%;
    height: 4rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(184, 184, 184);
    display: flex;
    margin-bottom: 1rem;
}
.recorded:hover {
    transform: scale(1.01, 1.01);
}
.recordname {
    width: 70%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    overflow-x: hidden;
}
.recordmore {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.recordmore button {
    width: 3rem;
    height: 2rem;
    background-color: rgb(0, 172, 0);
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}
.recordmore a {
    color: blue;
    font-size: 25px;
    font-weight: 650;
}
@media(width<991px) {
    .container {
        padding: 1rem;
    }
    .header {
        height: 8%;
    }
    .videorecorder-div {
        height: 92%;
        display: flex;
        flex-direction: column;
    }
    .videocam-div {
        width: 100%;
        height: 50%;
    }
    .webcam-div {
        height: 85%;
    }
    .cam-controls {
        height: 15%;
    }
    .cam-controls button {
        font-size: 18px;
    }
    #v-start {
        width: 5rem;
    }
    #v-stop {
        width: 5rem;
    }
    #v-rotate {
        width: 2.5rem;
    }
    #record {
        width: 5rem;
    }
    .recording-list {
        width: 100%;
        height: 50%;
        padding: 1rem 0rem;
    }
    .list-header {
        height: 15%;
        font-size: 23px;
    }
    .recordlist {
        height: 85%;
        padding: 1rem 0.2rem;
    }
    .recorded {
        height: 3rem;
    }
    .recordname {
        padding: 0px 15px;
    }
    .recordmore button {
        width: 2.5rem;
    }
}